/* colors */
$white: #ffffff;
$black: #181818;
$dark: #242424;
$indigo: #2c3e50;
$green: #00bd7e;
$green_dark: #0b3b2b;
$green_soft: #77d5b6;
$error: #8b1010;
$error_soft: #bf3f3f;
$warn: #c9c922;
$warn_soft: #d3d38c;
/* colors */
:root {
  --c_pp: #00bd7e;
}
